<main>
  <h3>Pide el coche</h3>
  <img src="../../../assets/order-my-car.jpg" alt="order a car way internet">
  <p>Danos tu ubicación para que el conductor sepa donde llegar.</p>

  <p>¿Cuántos asientos necesitas?</p>
  <section class="options">
    <p>
      <label>
        <input name="group1" type="radio" checked />
        <span>4 asientos</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" type="radio" />
        <span>7 asientos</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" type="radio" />
        <span>10 asientos</span>
      </label>
    </p>
  </section>

  <p>¿Qué características adicionales deseas?</p>
  <section class="options">
    <p>
      <label>
        <input type="checkbox" />
        <span>Que el conductor llegue 10 minutos antes de la hora pactada</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" />
        <span>Equipo incorporado para oir música</span>
      </label>
    </p>
  </section>

</main>
